<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Borrowed Books</title>
    <style>
        table {
  display: inline-table;
}

    </style>
</head>
<body>
<h1 align="center">Borrowed Books</h1>

<div align="center">
    <a href="/">Home Page</a>

    <br></br>

    <table border="1">
        <thead>
        <tr>
            <th>
                ISBN
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Publisher
            </th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${borrowedBooks}">
            <!--            id, name age and department should match Students class variables-->
            <td th:text="${book.id}">ID</td>
            <td th:text="${book.title}">title</td>
            <td th:text="${book.author}">author</td>
            <td th:text="${book.publisher}">publisher</td>

        </tr>
        </tbody>
    </table>
    <table border="1">
        <thead>
        <tr>
            <th>
                Borrow Date
            </th>
            <th>
                Due Date
            </th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="dateInfo : ${dateInfoLists}">
            <!--            id, name age and department should match Students class variables-->
            <td th:text="${dateInfo.borrowDate}">borrowDate</td>
            <td th:text="${dateInfo.dueDate}">dueDate</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>