<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Book Edit</title>
</head>
<body>
<div align="center">
    <h1>Edit Book</h1>
    <br />
    <form action="#" th:action="@{/saveBook}" th:object="${book}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Book ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Title:</td>
                <td>
                    <input type="text" th:field="*{title}" />
                </td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td>Publisher:</td>
                <td><input type="text" th:field="*{publisher}" /></td>
            </tr>
            <tr>
                <td>Stock:</td>
                <td><input type="text" th:field="*{stock}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>