<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Library Management System</title>
    <style>
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#books td, #books th {
  border: 1px solid #ddd;
  padding: 8px;
}

#books tr:nth-child(even){background-color: #f2f2f2;}

#books tr:hover {background-color: #ddd;}

#books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #413CCA;
  color: white;
}
    </style>
</head>
<body>
<h1 align="center">Library Management System</h1>

<div align="center">

 <a href ="/newBook">New Book</a>
    <br></br>
    <a href ="/showStudents">Student List</a>
    <a href="/borrowBook">Borrow a Book</a>
    <a href="/returnBook">Return Book</a>
    <a href="/finePayment">Pay a Fine</a>
    <table border="1"  id="books">
    <thead>
    <tr>
        <th>
            ISBN
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Publisher
        </th>
        <th>
            Stock
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${listBooks}">
<!--            id, name age and department should match Students class variables-->
            <td th:text="${book.id}">ID</td>
            <td th:text="${book.title}">title</td>
            <td th:text="${book.author}">author</td>
            <td th:text="${book.publisher}">publisher</td>
            <td th:text="${book.stock}">stock</td>
            <td>
                <a th:href="@{/edit/{id}(id=${book.id})}">Edit</a>
<!--                &nbsp;&nbsp;&nbsp;-->
                <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>