<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <script src="jquery-3.5.1.min.js"></script>-->

    <title>Library System</title>
</head>
<body>
<h1 align="center">Hello World</h1>
<div align="center">
<table border="1">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            name
        </th>
        <th>
            age
        </th>
        <th>
            department
        </th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${listStudents}">
<!--            id, name age and department should match Students class variables-->
            <td th:text="${student.id}">ID</td>
            <td th:text="${student.name}">name</td>
            <td th:text="${student.age}">age</td>
            <td th:text="${student.department}">department</td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>