<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
</head>
<body>
<div align="center">
    <h1>Enter a New Student</h1>
    <br />
    <form action="#" th:action="@{/saveStudent}" th:object="${student}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" /></td>

            </tr>
            <tr>
                <td>Age:</td>
<!--                <td><input type="text" th:field="*{age}" /></td>-->
               <td><input type="number" th:field="*{age}" id="ageInput" name="ageInput"
                       min="10" max="100"></td>

            </tr>
            <tr>
                <td>Department:</td>
                <td><input type="text" th:field="*{department}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td><button type="submit">Save</button> </td>
                <td> <a href="/showStudents">
                    <input type="button" value="Cancel" />
                </a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>